<div class="page-position">
    <div class="all-select">
        <span class="title-input">מוצא</span>
        <div class="input-group mb-3">
            <input type="text" class="form-control" [(ngModel)]="originCity">
        </div>
        <span class="title-input">יעד</span>
        <div class="input-group mb-3">
            <input type="text" class="form-control" [(ngModel)]="destinationCity">
        </div>
        <p class="bashed">_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ </p>
        <button mdbBtn class="button-get" type="button" (click)="openResulte()" mdbWavesEffect>
            הצג את המרחק</button>
    </div>
</div>